<% include partials/header %>

<h1>You Fell In Love With: <%= thing %> </h1>

<% if(thing.toLowerCase() === "rooney") { %>
  <p>Good choice! Rooney is the best!</p>
<% } %>

<% include partials/footer %>
