<h1>Friends List: </h1>

<% friends.forEach(function(friend) { %>
  <li><%= friend %></li>
<% }); %>


<form action="/addfriend" method="POST">
  <input type="text" name="newFriend" placeholder="name" value="">
  <button type="button" name="button">I made a New Friend</button>
</form>
